.venv/
__pycache__/
.vscode/
oldCode/
working_images/
*.pyc
openmeteo_api_data.py
openmeteo_api_data_base.api
*.af*
router.py
cls.py
.micropico
*.mpy
sizeTest.py
vector.py
ws.py
returnValues.txt
config.json
